// Contact Info Box
.rt-contact-info {
	.info-title {
		font-size: 18px;
		font-weight: 500;
		color: $heading_color;
		margin-bottom: 10px;
		line-height: 1.2;
	}
	.contact-list {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			position: relative;
			color: $body_color;
			&:last-child {
				margin-bottom: 0 !important;
			}
			span {
				color: $heading_color;
				font-weight: 500;
				margin-right: 5px;
			}
			i {
				margin-right: 5px;
			}
			a {
				color: $heading_color;
				font-weight: 600;
				&:hover {
					color: $primary_color;
				}
			}
		}
	}
	.list-horizontal {
		display: flex;
		align-items: center;
		column-gap: 30px;
		flex-wrap: wrap;
		@media(max-width: 767px) {
			justify-content: center;
		}
		li {
			&:not(:last-child) {
				&:after {
					content: "";
					height: 5px;
					width: 5px;
					background-color: #8DA4A2;
					position: absolute;
					top: 12px;
					right: -18px;
					border-radius: 50%;
				}
			}
		}
	}
}
