/* Elementor global CSS
===============================*/
.elementor-icon.elementor-social-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
@media(min-width: 768px) {
	.wow {
		visibility: hidden;
	}
}
// Magnific popup
.mfp-iframe-holder {
	.mfp-iframe {
		border-radius: 20px;
	}
	.mfp-close {
		top: -20px;
		right: -20px;
		text-align: center;
		width: 40px;
		height: 40px;
		line-height: 40px;
		opacity: 1;
		padding-right: 0;
		background-color: $primary_color;
	}
}

// Faq Style
.accordion-style-1 {
	.e-n-accordion-item {
		.e-n-accordion-item-title {
			color: $heading_color;
			border-color: $border_color;
			position: relative;
			line-height: 1.1;
			.e-n-accordion-item-title-header {
				&:after {
					position: absolute;
					content: "";
					left: 50px;
					top: 50%;
					width: 20px;
					height: 20px;
					background-color: $gray_color;
					border-radius: 50%;
					transform: translateY(-50%);
					@media(max-width: 1024px) {
						left: 30px;
					}
					@media(max-width: 767px) {
						left: 20px;
					}
				}
			}
		}
		.e-n-accordion-item-title-icon {
			span > i {
				color: $heading_color;
			}
		}
	}
	.e-n-accordion-item[open] > {
		.e-n-accordion-item-title {
			color: $primary_color;
			border-bottom: none;

			.e-n-accordion-item-title-header {
				&:after {
					background-color: $primary_color;
				}
			}
			.e-n-accordion-item-title-icon span > i {
				color: $primary_color;
			}
		}

		.elementor-element {
			border-color: $border_color;
			border-top: none;
			transition: unset;
		}
	}

	.e-n-accordion-item:not([open]):hover > {
		.e-n-accordion-item-title {
			color: $primary_color;

			.e-n-accordion-item-title-icon span > i {
				color: $primary_color;
			}
		}
	}
}

// hero overlay section
@media(min-width: 1400px){
	.hero-shape-01 {
		&:after {
			position: absolute;
			content: "";
			width: 1304px;
			height: 1304px;
			left: calc((100% - 900px) / 2 + 12px);
			top: 515px;
			border-radius: 50%;
			background-color: $dark_pink2_bg_color;
		}
	}
	.footer-widget-line {
		&.dark-color {
			&:after{
				background-color: #3A393A;
			}
		}
		&:after {
			position: absolute;
			content: "";
			width: 1px;
			height: 100%;
			right: 25px;
			top: 0;
			border-radius: 5px;
			background-color: $border_color;
		}
	}
}
@media(min-width: 1600px){
	.hero-margin-left {
		margin-left: calc((100% - 1344px) / 2 + 12px);
	}
}


@media(max-width: 1024px) {
	.responsive-overlay-1024 {
		&:after {
			position: absolute;
			content: "";
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(255,255,255, 0.8);
		}
	}
}

// dark mode color css
[data-theme="dark-mode"] .light-logo {
	display: block;
}
[data-theme="dark-mode"] .dark-logo {
	display: none;
}
[data-theme="dark-mode"] .elementor-widget-rt-site-logo .site-branding.dark .dark-logo {
	display: none !important;
}
[data-theme="dark-mode"] .elementor-widget-rt-site-logo .site-branding .light-logo {
	display: block !important;
}

.ele-border-radius-5 {
	border-radius: 5px;
}
.ele-border-radius-10 {
	border-radius: 10px;
}
.ele-white-bg {
	background-color: $white_bg_color;
	transition: unset;
}
.ele-gray-bg {
	background-color: $gray_color;
	transition: unset;
}
.ele-light-gray-bg {
	background-color: $light_gray_bg_color;
	transition: unset;
}
.ele-brown-bg {
	background-color: $brown_bg_color;
	transition: unset;
}
.ele-dark-brown-bg {
	background-color: $dark_brown_bg_color;
	transition: unset;
}
.ele-light-pink-bg {
	background-color: $light_pink_bg_color;
}
.ele-dark-pink-bg {
	background-color: $dark_pink_bg_color;
}
.ele-light-purple-bg {
	background-color: $light_purple_bg_color;
}
.ele-dark-purple-bg {
	background-color: $dark_purple_bg_color;
}
.ele-dark-pink-bg-color {
	background-color: #FFF5FF;
}
.ele-border {
	border: 1px solid $border_color;
}
.ele-border-top {
	border-top: 1px solid $border_color;
}
// dark mode
[data-theme="dark-mode"] {
	.rt-logo-brand .logo-box img {
		filter: brightness(0) invert(1);
		transition: all ease 0.21s;
		opacity: 0.4;
	}
	.rt-logo-brand .logo-box:hover img {
		filter: brightness(0) invert(1);
	}
	.elementor-divider-separator {
		border-color: #3a3939 !important;
	}
	.ele-light-gray-bg {
		background-color: #131313;
	}
	.ele-brown-bg,
	.ele-dark-brown-bg,
	.hero-shape-01:after {
		background: linear-gradient(111deg, #FF0080 19.42%, #FF001A 73.08%);
	}
	.ele-light-pink-bg,
	.ele-dark-pink-bg {
		background: linear-gradient(111deg, #00FF99 19.42%, #66FF00 73.08%);
	}
	.ele-light-purple-bg,
	.ele-dark-purple-bg {
		background: linear-gradient(111deg, #499DFC 19.42%, #1466F5 73.08%);
	}
	.ele-dark-pink-bg-color {
		background-color: #FF0080;
	}
	.ele-brown-bg .rt-special-offer,
	.ele-brown-bg .rt-info-layout-1 .info-box .info-icon {
		border-color: #fff;
	}
	.ele-brown-bg  .rt-special-offer p,
	.ele-brown-bg  .rt-info-box .content-holder p {
		color: #fff;
	}
	.rt-hero-slider-layout-1 .single-slider {
		background: linear-gradient(111deg, #FF0080 19.42%, #FF001A 73.08%) !important;
	}
	.fasheno-header-1.has-trheader.tr-header-light .site-header:hover {
		background-color: $black_color;
	}
}
