// Hero Slider
.rt-swiper-hero-slider {
	overflow: hidden;
}
.rt-hero-slider-layout-1 {
	border-radius: 5px;
	.single-slide {
		&:nth-child(even) {
			.content-wrap {
				@media(min-width: 768px) {
					flex-direction: row-reverse;
				}
			}
		}
	}
	.single-slider {
		border-radius: 5px;
		padding: 0 50px;
		@media(max-width: 767px) {
			padding: 0 30px 30px;
		}
	}
	.content-wrap {
		display: flex;
		align-items: center;
		gap: 30px;
		@media(max-width: 767px) {
			flex-direction: column;
		}
		@media(min-width: 768px) {
			max-height: 525px;
		}
	}
	.slider-image {
		padding-top: 30px;
		img {
			display: block;
			object-fit: cover;
			@media(min-width: 991px) {
				max-width: 370px;
			}
		}
	}
	.slider-content {
		position:  relative;
		z-index: 9;
	}
	.sub-title {
		position: relative;
		display: inline-block;
		color: $heading_color;
		border: 1px solid rgba(230,230,230, 1);
		border-radius: 3px;
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 6px;
		padding-right: 12px;
		line-height: 1.2;
		z-index: 1;
		overflow: hidden;
		i {
			display: inline-block;
			background-color: $black_bg_color_1;
			color: $button_color_1;
			margin-right: 7px;
			padding: 8px 10px;
		}
	}
	.slider-title {
		 font-size: 44px;
		 color: $heading_color;
		 margin-bottom: 20px;
		 line-height: 1.2;
	}
	.slider-text {
		color: $heading_color;
		font-size: 16px;
		line-height: 1.6;
		margin-bottom: 30px;
	}
	@media(max-width: 991px ) {
		.slider-title br,
		.slider-text br {
			display: none;
		}
	}
	.swiper-pagination {
		position: absolute;
		margin-top: 0;
		column-gap: 5px;
		align-items: center;
		bottom: 30px !important;
		@media(max-width: 991px) {
			bottom: 20px !important;
		}
		.swiper-pagination-bullet {
			position: relative;
			text-align: left;
			color: $button_text_color;
			background: #e6e6e6;
			font-size: 0;

			$base-top: 8px;
			$increment: 4px;

			@for $i from 1 through 200 {
				&:nth-child(#{$i}) {
					width: $base-top + ($increment * ($i - 1));
					height: $base-top + ($increment * ($i - 1));
				}
			}

			&.swiper-pagination-bullet-active {
				background-color: $primary_color;
			}
		}
	}
}

.rt-hero-slider-layout-2 {
	.swiper-slide {
		overflow: hidden;
	}
	.img-container {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		svg {
			position: absolute;
			bottom: 0;
		}
	}
	.hero-banner {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-size: inherit;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
	.slider-content {
		position:  relative;
		max-width: 450px;
		z-index: 9;
		@media(max-width: 767px) {
			max-width: 100%;
		}
	}
	.single-slider {
		min-height: 700px;
		display: flex;
		align-items: center;
	}
	.sub-title {
		position: relative;
		display: inline-block;
		color: $white_color;
		border: 1px dashed rgba(255,255,255, 0.4);
		border-radius: 3px;
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 6px;
		padding: 7px 12px;
		line-height: 1.2;
		z-index: 1;
		overflow: hidden;
		i {
			display: inline-block;
			margin-right: 7px;
		}
	}
	.slider-title {
		font-size: 60px;
		color: $white_color;
		margin-bottom: 20px;
		line-height: 1.2;
		span {
			font-weight: 200;
		}
	}
	.slider-text {
		color: $white_color;
		font-size: 16px;
		line-height: 1.4;
		margin-bottom: 35px;
	}
	@media(max-width: 991px ) {
		.slider-title br,
		.slider-text br {
			display: none;
		}
	}
	.swiper-pagination {
		position: absolute;
		margin-top: 0;
		gap: 25px;
		right: 0;
		left: auto !important;
		top: 50%;
		transform: translateY(-50%);
		width: 130px;
		flex-direction: column;
		.swiper-pagination-bullet {
			position: relative;
			width: 40px;
			height: auto;
			text-align: left;
			font-size: 20px;
			color: $white_color;
			background: transparent !important;
			transition: all 1s ease;
			&.swiper-pagination-bullet-active {
				width: 60px;
				margin-left: -40px;
				&:after {
					position: absolute;
					content: "";
					right: -7px;
					top: 13px;
					width: 28px;
					height: 2px;
					border-radius: 50px;
					background-color: $white_color;
					transition: all 1s ease;
				}
			}
		}
	}
}
