// RT Social Icon
.rt-social-icon {
	display: inline-flex;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
	.rt-social-item {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		flex-wrap: wrap;
		a {
			font-size: 15px;
			color: $button_text_color;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			transition: all 0.21s ease-in-out;
			overflow: hidden;
			i {
				display: block;
			}
			&:hover {
				color: $primary_color;
				i {
					animation: headShake 1.5s;
				}
			}
		}
	}
}

