/* Topbar Navigation
***************************/
.fasheno-top-bar {
	font-size: 15px;
	background-color: $gray_color;
	color: $heading_color;
	padding: 12px 0;
	display: flex;
	align-items: center;
	position: relative;
	.close {
		background-color: $white_bg_color;
		color: $heading_color;
		border-radius: 50%;
		font-size: 22px;
		width: 32px;
		height: 32px;
		padding: 0;
		position: absolute;
		right: 70px;
		&:hover {
			background-color: $primary_color;
			color: $button_color;
		}
	}

	@media(max-width: 650px) {
		.top-bar-right {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	.top-bar-row {
		justify-content: space-between;
		@media(max-width: 991px) {
			justify-content: center;
		}
	}
	&.top-bar-style-2 {
		.top-bar-row {
			justify-content: center;
		}
	}
	.top-bar-menu {
		display: inline-flex;
		align-items: center;
		column-gap: 32px;
		li {
			position: relative;
			@media(min-width: 992px) {
				&:before {
					content: "";
					height: 50px;
					width: 1px;
					background-color: $border_color;
					position: absolute;
					top: -12px;
					right: -18px;
				}
			}
		}
	}
	.top-bar-left {
		li {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 8px;
			flex-wrap: wrap;
			&:not(:last-child):before {
				content: "";
				height: 5px;
				width: 5px;
				background-color: #8DA4A2;
				position: absolute;
				top: 12px;
				right: -18px;
				border-radius: 50%;
			}
		}
		span {
			color: $red_color;
		}
		a {
			color: $heading_color;
			&:hover {
				color: $primary_color;
			}
		}
		@media(max-width: 767px) {
			justify-content: center;
		}
	}

	.social-icon {
		display: inline-flex;
		align-items: center;
		gap: 10px;
		padding: 0 32px;
		a {
			&:hover svg {
				fill: $primary_color;
			}
		}

		[class*=rticon] svg {
			width: 15px;
			height: 13px;
			fill: $heading_color;
		}
	}
}

.switcher-list.switcher-position-default {
	.switcher-using-shortcode {
		border: none;
		padding: 0;
		a.currency-selected {
			padding: 0;
		}
		@media(min-width: 992px) {
			&:before {
				content: "";
				height: 50px;
				width: 1px;
				background-color: $border_color;
				position: absolute;
				top: -12px;
				left: -18px;
			}
		}
	}
	.dashicons {
		color: $button_text_color;
		transition: unset;
		padding-left: 2px;
		font-size: 15px;
		position: relative;
		top: 2px;
	}
	a.currency-selected, .switcher-list a:hover {
		color: $button_text_color;
	}
	a:hover {
		color: $primary_color;
	}
	.switcher-btn-wrapper {
		background-color: $white_bg_color;
		box-shadow: 0 0 30px 4px rgba($heading_rgb, 0.1);
		border: 1px solid $border_color;
		padding: 10px 0;
		width: 105px;
		a {
			padding: 5px 20px;
		}
	}
	.switcher-btn-wrapper:before {
		border-color: transparent transparent $white_bg_color;
	}
}

.has-trheader .site-header .fasheno-top-bar * {
	color: $meta_color;
}
