// Shop sidebar
.rtsb-product-filters {
	.filter-content {
		padding-left: 0;
		padding-right: 0;
	}
}

.woo-archive-sidebar {
	margin-bottom: 0;
	padding: 40px 40px 0 40px;
	&.widget_search {
		border: unset;
		border-radius: unset;
		padding: 0;
	}
	.wc-block-product-categories {
		margin-bottom: 0;
	}
}
.woocommerce {
	ul.product_list_widget {
		li {
			color: $primary_color;
			font-weight: 500;
			del {
				opacity: 0.5;
				font-weight: 400;
			}
			ins {
				background-color: transparent;
				color: inherit;
			}
			img {
				float: left;
				margin-left: 0;
				margin-right: 12px;
				width: 70px;
				border-radius: 5px;
			}
			a {
				color: $heading_color;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 7px;
				line-height: 1.4;
				&:hover {
					text-decoration: underline;
				}
			}
			.rtsb-star-rating {
				margin-bottom: 6px;
			}
		}
	}
}

// price filter
.wc-blocks-filter-wrapper {
	.wc-block-components-price-slider__range-input-progress {
		top: -2px;
		z-index: 22;
	}
	.wc-block-components-price-slider__controls {
		.wc-block-components-price-slider__amount {
			color: $heading_color;
			border: 1px solid $border_color !important;
			background-color: $body_bg_color;
			padding: 5px;
			text-align: center;
		}
	}
}
