// Product page

.woocommerce {
	div.product {
		.rtwpvg-images {
			.rtwpvg-container {
				gap: 10px;
			}
			.swiper-slide {
				border-radius: 5px;
			}
		}
		div.images {
			margin-bottom: 50px;
			.woocommerce-product-gallery__wrapper {
				> div {
					overflow: hidden;
					border-radius: 5px;
				}
			}
			.flex-control-thumbs {
				display: flex;
				gap: 5px;
				margin-top: 5px;
				li {
					overflow: hidden;
					border-radius: 6px;
				}
			}
		}

		div.summary {
			margin-bottom: 50px;
			.product_title {
				font-size: 32px;
				margin-bottom: 10px;
				line-height: 1.2;
			}
			.woocommerce-product-rating {
				margin-bottom: 10px;
			}
			.price {
				color: $primary_color;
				font-size: 24px;
				font-weight: 500;
				margin-bottom: 15px;
				line-height: 1.4;
			}
		}
		form.cart {
			.variations {
				th, td {
					text-align: left;
					font-weight: 400;
				}
				label {
					color: $meta_color;
					font-size: 18px;
					font-weight: 400;
				}
			}
			.woocommerce-variation-price {
				margin-bottom: 20px;
			}
		}
	}
	.quantity {
		.qty {
			height: 48px;
			border-radius: 8px;
		}
		input.input-text:focus {
			outline: none;
			box-shadow: unset;
		}
	}
	.product_meta {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		font-size: 18px;
		> span {
			color: $meta_color;
			span, a {
				color: $heading_color;
				font-weight: 400;
			}
		}
	}
	.post-share-btn {
		.item-social {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 8px;
			row-gap: 5px;
			@include list_default();
			.item-label {
				font-size: 18px;
				color: $meta_color;
				font-weight: 400;
			}
			a {
				color: $body_color;
				font-size: 16px;
				i {
					padding-right: 8px;
				}
				&:hover {
					color: $heading_color;
				}
			}
		}
	}
}

// Product tabs
.single-product {
	div.product {
		.woocommerce-tabs {
			margin-top: 30px;
			.panel {
				margin: 0;
				h2 {
					display: none;
				}
			}
			ul.tabs {
				display: inline-flex;
				flex-wrap: wrap;
				gap: 20px;
				width: 100%;
				margin-bottom: 25px;
				padding: 0 !important;
				&:before {
					border-bottom: 2px solid $border_color;
				}
				li {
					position: relative;
					border: none;
					border-radius: 4px;
					background-color: transparent;
					margin: 0;
					padding: 0;
					&:before, &:after {
						display: none;
					}
					&.active {
						color: $heading_color;
						background-color: transparent;
						a {
							font-weight: 500;
						}
						a:after {
							position: absolute;
							content: "";
							left: 0;
							bottom: 0;
							height: 2px;
							width: 100%;
							background-color: $heading_color;
						}
					}
					a {
						position: relative;
						display: block;
						font-size: 18px;
						font-weight: 400;
						padding: 0 0 15px;
						color: $meta_color;
						&:hover {
							color: $heading_color;
						}
					}
				}
			}
		}
	}

	.wc-tab {
		#reviews #comments {
			ol.commentlist {
				padding: 0;
				li {
					.comment_container {
						background-color: $white_bg_color;
						border: 1px solid $border_color;
						border-radius: 4px;
						margin-top: 8px;
						padding: 20px 25px;
						p.meta {
							font-size: 15px;
						}
					}
					img.avatar {
						width: 60px;
						border: none;
						margin-right: 25px;
						border-radius: 50%;
						padding: 0;
						position: inherit;
					}
					.comment-text {
						border-radius: 0;
						margin: 0;
						padding: 0;
						border: none;
						p.meta {
							margin-bottom: 0;
						}
						.woocommerce-review__author {
							color: $heading_color;
							font-weight: 500;
						}
					}
				}
			}
		}
		.comment-respond {
			.comment-reply-title {
				color: $heading_color;
				font-size: 20px;
				font-weight: 500;
				text-transform: capitalize;
			}
		}
	}


	#respond {
		form {
			.comment-form-comment,
			.comment-form-author,
			.comment-form-email {

			}
			#comment, #author, #email {
				background-color: $white_bg_color;
				border: 1px solid $border_color;
				color: $heading_color;
				border-radius: 4px;
				font-size: 15px;
				font-weight: 400;
				margin-right: 20px;
				padding: 10px 20px;
				box-shadow: none;
				width: 100%;
			}
			#comment {
				height: 150px;
			}


			input.form-control {
				height: 50px;
			}
		}
	}


}

ul.single-product-list-one {
	b {
		color: $heading_color;
		font-weight: 600;
	}
}
ul.single-product-list-two {
	@include list_default();
	display: flex;
	flex-direction: column;
	gap: 5px;
	li {
		position: relative;
		padding-left: 27px;
		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '\e8f0';
			font-family: "rt-fontello";
		}
	}
}
// rtwpvs product
.rtwpvs .rtwpvs-terms-wrapper .rtwpvs-term:not(.rtwpvs-radio-term) {
	background-color: $white_bg_color !important;
	box-shadow: 0 0 0 1px rgba($heading_rgb, 0.2) !important;
	padding: 7px;
	line-height: 1.3;
}
.rtwpvs .rtwpvs-terms-wrapper .rtwpvs-term:not(.rtwpvs-radio-term):hover {
	background-color: $white_bg_color !important;
}
.rtwpvs .rtwpvs-terms-wrapper .rtwpvs-term:not(.rtwpvs-radio-term).rtwpvs-button-term span {
	color: $button_text_color !important;
}
// Related product
.related.products {
	margin-top: 50px;
	> h2 {
		font-size: 30px;
		margin-bottom: 30px;
		text-transform: capitalize;
		text-align: center;
	}
}


// shop builder single product
.rtsb-product-categories a {
	color: $body_color;
}
body.woocommerce .product {
	p.price, span.price {
		color: $heading_color;
		font-size: 24px;
		font-weight: 500;
		ins {
			font-weight: 500;
		}
	}
}
.rtsb-quantity-box-group {
	input[type=number] {
		color: $heading_color;
	}
}
.rtsb-countdown-campaign {
	.rtsb-countdown-section {
		color: $heading_color;
	}
}
// action button
.rtsb-actions-button-widgets {
	.button-text {
		display: none;
	}
}
.rtsb-actions-button a:is(.rtsb-wishlist-btn,.rtsb-compare-btn) .icon {
	background-color: $gray_color;
	color: $heading_color;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	height: 45px;
	width: 45px;
}
// size chart
.rtsb-size-chart-wrapper {
	.rtsb-size-chart-popups-view {
		background-color: transparent;
		color: $heading_color;
		text-decoration: underline;
	}
}
// accordion
.rtsb-builder-content {
	.rtsb-tab-accordion-item {
		border-color: $border_color;
		border-radius: 4px;
	}
	.rtsb-accordion-title {
		border-radius: 4px;
		&.active {
			color: $heading_color;
			&:after {
				background-color: $heading_color;
			}
		}
	}
}
.woocommerce-Reviews {
	.comment-respond {
		.comment-reply-title {
			display: none;
		}
	}
}
#rtsb-builder-content .rtsb-product-tabs #reviews #comments {
	margin-bottom: 0;
}
// addon field
.rtsb-addon-groups {
	.rtsb-addon-fields {
		border-color: $border_color;
	}
	.rtsb-addon-field+.rtsb-addon-field {
		border-top-color: $border_color;
	}
	.rtsb-addon-field-content.rtsb-addon-field-text-select {
		.rtsb-checkbox-group input[type=checkbox]+.rtsb-option-label {
			border-color: $border_color;
			background-color: transparent;
			transition: unset;
			padding: 10px;
		}
	}
}
.rtsb-product-addons-total {
	border-color: $border_color;
	.grand-total {
		border-top-color: $border_color;
	}
}
.rtsb-social-share {
	.rtsb-share-btn {
		svg {
			fill: $heading_color
		}
	}
}
// single product 2
.single-product-2 {
	.rtsb-product-quick-checkout {
		.rtsb-quick-checkout-btn {
			color: $button_color !important;
			background-color: $black_bg_color;
			border-radius: 2px;
			width: 100%;
			justify-content: center;
			&:hover {
				background-color: $primary_color;
			}
		}
	}
}
