/* Back to top
======================*/
.scrollToTop {
	color: $button_text_color;
	border: 1px solid $border_color;
	background-color: $white_bg_color;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	position: fixed;
	right: 40px;
	bottom: 0;
	width: 60px;
	height: 60px;
	opacity: 0;
	visibility: hidden;
	transition: all 320ms;
	z-index: 999;
	svg {
		fill: $button_color;
	}
	&.show {
		bottom: 60px;
		opacity: 1;
		visibility: visible;
	}
	@media (max-width: 767px) {
		display: none;
	}
	&:hover {
		border: 1px solid transparent;
		background: $primary_color;
		color: $button_color;
		i {
			animation: toBottomFromTop 0.7s forwards;
		}
		svg {
			fill: $button_color;
		}
	}
}
