// Color mode

.header-switch {
	.header-switch-input {
		display: none;
	}
	.header-switch-label {
		border-radius: 50%;
		background-color: $black_bg_color_1;
		color: $button_color_1;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		font-size: 22px;
		right: 40px;
		bottom: 140px;
		width: 60px;
		height: 60px;
		z-index: 999;
		@media (max-width: 767px) {
			right: 20px;
			bottom: 80px;
			width: 40px;
			height: 40px;
		}
		i {
			position: absolute;
		}
	}
}

[data-theme="dark-mode"] {
	.header-switch-label {
		.icon-rt-moon {
			opacity: 0;
		}
	}
}
[data-theme="light-mode"] {
	.header-switch-label {
		.icon-rt-sun {
			opacity: 0;
		}
	}
}
