/*-------------------
#. Preloader css
--------------------*/
#preloader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: visible;
	z-index: 999999999;
	background-color: $white_color;
	background-repeat: no-repeat;
	background-position: center;
}

.rt-loader {
	position: relative;
	color: rgba(0, 0, 0, .3);
	font-size: 5em
}
.rt-loader:before {
	content: attr(data-text);
	position: absolute;
	max-width: 7em;
	white-space: nowrap;
	color: red;
	animation: loading 1s linear;
}
@keyframes loading {
	0% {
		max-width: 0;
	}
}
